In [110]:
#1
grades = [57, 92, 70, 95, 68, 72, 98, 84, 91, 69, 76, 93, 85, 90, 82, 79, 94, 86, 75, 99, 63, 77, 96, 81, 59, 73, 97, 50, 88, 74, 92, 68, 85, 78, 63, 57, 82, 90, 66, 54, 91, 79, 95, 88, 83, 77, 56, 84,69, 98]
print(grades)

[57, 92, 70, 95, 68, 72, 98, 84, 91, 69, 76, 93, 85, 90, 82, 79, 94, 86, 75, 99, 63, 77, 96, 81, 59, 73, 97, 50, 88, 74, 92, 68, 85, 78, 63, 57, 82, 90, 66, 54, 91, 79, 95, 88, 83, 77, 56, 84, 69, 98]

In [112]:
#2.
grades.sort()
#print(grades)
min_score = grades[0]
max_score = grades[-1]

print("Lowest score is :" ,min_score)
print("Highest score is :",max_score)

Lowest score is : 50
Highest score is : 99

In [113]:
#3.
passed_list = []
count = 0
print("Grades of studets :",grades)
for x in grades:  
    if x > 70:
        passed_list.append(count)
    count = count + 1
        
print(passed_list )

Grades of studets : [50, 54, 56, 57, 57, 59, 63, 63, 66, 68, 68, 69, 69, 70, 72, 73, 74, 75, 76, 77, 77, 78, 79, 79, 81, 82, 82, 83, 84, 84, 85, 85, 86, 88, 88, 90, 90, 91, 91, 92, 92, 93, 94, 95, 95, 96, 97, 98, 98, 99]
[14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [114]:
#4.
sum_of_scores = sum(grades)
Total_len = len(grades)
Average_Score = sum_of_scores / Total_len
print("Average scores are :",Average_Score)

Average scores are : 79.36

In [115]:
#5.
A = []
B = []
C = []
D = []
F = []

for x in grades:
    if x in range(90,101):
        A.append(x)
    elif x in range(80,90):
        B.append(x)
    elif x in range(70,80):
        C.append(x)
    elif x in range(60,70):
        D.append(x)
    else:
        F.append(x)

print("Stdents with Grade A :", A)
print("Stdents with Grade B :", B)
print("Stdents with Grade C :", C)
print("Stdents with Grade D :", D)
print("Stdents with Grade F :", F)

Stdents with Grade A : [90, 90, 91, 91, 92, 92, 93, 94, 95, 95, 96, 97, 98, 98, 99]
Stdents with Grade B : [81, 82, 82, 83, 84, 84, 85, 85, 86, 88, 88]
Stdents with Grade C : [70, 72, 73, 74, 75, 76, 77, 77, 78, 79, 79]
Stdents with Grade D : [63, 63, 66, 68, 68, 69, 69]
Stdents with Grade F : [50, 54, 56, 57, 57, 59]

In [ ]:
# 6. Create two sets, set1 and set2, each containing 100 random integers.

In [32]:
#6.
import random
def Rand(start, end, num):
    res = []
 
    for j in range(num):
        res.append(random.randint(start, end))
 
    return res

set1 = set(Rand(10, 110, 100))
set2 = set(Rand(30, 140, 100))
print("Set 1 :",set1)
print("Set 2 :",set2)

Set 1 : {11, 12, 13, 14, 15, 16, 17, 20, 22, 24, 26, 27, 28, 30, 32, 36, 37, 38, 39, 41, 42, 43, 45, 46, 47, 51, 52, 53, 54, 56, 59, 60, 61, 64, 67, 68, 72, 73, 74, 75, 76, 79, 80, 82, 83, 84, 89, 90, 91, 93, 94, 96, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110}
Set 2 : {128, 131, 133, 134, 136, 138, 139, 140, 30, 32, 33, 35, 36, 38, 40, 41, 43, 44, 45, 47, 48, 50, 51, 54, 56, 58, 59, 61, 65, 67, 68, 69, 70, 72, 73, 74, 76, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 98, 99, 100, 101, 107, 109, 110, 111, 112, 114, 115, 117, 118, 122, 124, 125, 126, 127}

In [116]:
#7.
set_intersection = set1.intersection(set2)
print(set_intersection)

{30, 32, 36, 38, 41, 43, 45, 47, 51, 54, 56, 59, 61, 67, 68, 72, 73, 74, 76, 79, 80, 82, 83, 89, 90, 91, 94, 99, 100, 101, 107, 109, 110}

In [ ]:
#8.
prime_numbers = set()

for x in range(1, 500):

In [117]:
#9.
set_cubes = set()

#print("Set 1 :" , set1)
y = 0
for x in set1:
    set_cubes.add(x * x * x)
    
print( set_cubes)

{4096, 13824, 32768, 175616, 262144, 373248, 512000, 804357, 884736, 1124864, 1259712, 571787, 148877, 103823, 79507, 2197, 10648, 157464, 389017, 592704, 1030301, 753571, 226981, 17576, 729000, 132651, 3375, 4913, 1331, 1295029, 59319, 2744, 68921, 97336, 970299, 830584, 1331000, 1728, 8000, 21952, 46656, 140608, 205379, 216000, 314432, 438976, 551368, 704969, 1000000, 1225043, 54872, 1061208, 300763, 50653, 19683, 74088, 405224, 1191016, 493039, 421875, 91125, 1092727, 27000, 1157625}

In [118]:
#10.
sets_disjoint = set1.isdisjoint(set2)

if sets_disjoint:
    print("IS disjoint")
else:
    print("Not disjoint ")

Not disjoint

In [72]:
#11.
import random
students = []

for i in range(1,51):
    name = f"Student{i}"
    age = random.randint(18,23)
    GPA = round(random.uniform(2.0,4.0), 2)
    student_tuple = (name ,age, GPA)
    students.append(student_tuple)
    
print(students)

[('Student1', 21, 2.91), ('Student2', 19, 2.66), ('Student3', 22, 3.77), ('Student4', 22, 3.28), ('Student5', 20, 3.9), ('Student6', 21, 3.44), ('Student7', 21, 3.97), ('Student8', 22, 3.13), ('Student9', 18, 3.03), ('Student10', 23, 3.7), ('Student11', 19, 2.41), ('Student12', 23, 3.75), ('Student13', 22, 2.68), ('Student14', 23, 3.91), ('Student15', 22, 3.16), ('Student16', 18, 3.73), ('Student17', 19, 2.77), ('Student18', 20, 2.75), ('Student19', 21, 3.75), ('Student20', 22, 3.87), ('Student21', 19, 3.37), ('Student22', 22, 2.56), ('Student23', 23, 2.06), ('Student24', 20, 3.93), ('Student25', 19, 3.94), ('Student26', 21, 3.21), ('Student27', 19, 2.92), ('Student28', 22, 2.53), ('Student29', 19, 3.0), ('Student30', 22, 2.58), ('Student31', 21, 3.17), ('Student32', 21, 3.02), ('Student33', 18, 2.26), ('Student34', 19, 3.95), ('Student35', 22, 3.78), ('Student36', 19, 2.14), ('Student37', 18, 2.52), ('Student38', 22, 3.16), ('Student39', 21, 2.04), ('Student40', 19, 2.56), ('Student41', 23, 2.41), ('Student42', 21, 3.85), ('Student43', 18, 2.8), ('Student44', 18, 2.08), ('Student45', 19, 3.87), ('Student46', 21, 3.75), ('Student47', 18, 2.5), ('Student48', 23, 3.11), ('Student49', 19, 2.77), ('Student50', 19, 3.37)]

In [67]:
#12.
highest_mark = 0.0
for marks in students:
    GPA = marks[2] 
    if GPA > highest_mark:
        highest_mark = GPA

print("The Highest GPA of student is :",highest_mark)

The Highest GPA of student is : 3.9855220717757742

In [120]:
#13.
import random
course_name = ['FDA', 'DMA', 'Mining', 'Computation and Vis', 'Algorithm']
courses_average = {}
for i in course_name:
    list_of_grades = []
    for j in range(1,51):
        k = random.randint(20,100)
        list_of_grades.append(k)
        average_grade = sum(list_of_grades)/len(list_of_grades)
        courses_average[i] = (average_grade)
        
print(courses_average)

{'FDA': 62.08, 'DMA': 60.66, 'Mining': 53.0, 'Computation and Vis': 54.32, 'Algorithm': 55.54}

In [83]:
#14.
import random

students_list = ["student" + str(i) for i in range(1,51)]

students = []

for student in students_list:
    age = random.randint(18, 24)
    gpa = round(random. uniform (0,4),2)
    student_tuple = (student, age, gpa)
    students.append(student_tuple)
sorted_age = sorted(students, key=lambda x:x[1])

print (sorted_age)

[('student5', 18, 0.87), ('student15', 18, 1.02), ('student19', 18, 0.02), ('student25', 18, 2.01), ('student28', 18, 2.95), ('student29', 18, 1.8), ('student33', 18, 0.37), ('student35', 18, 0.39), ('student46', 18, 1.74), ('student50', 18, 1.48), ('student12', 19, 3.94), ('student21', 19, 3.88), ('student36', 19, 3.34), ('student39', 19, 3.77), ('student44', 19, 2.71), ('student45', 19, 2.71), ('student11', 20, 1.52), ('student17', 20, 3.1), ('student20', 20, 1.63), ('student37', 20, 2.41), ('student42', 20, 2.9), ('student43', 20, 0.01), ('student6', 21, 0.56), ('student7', 21, 3.59), ('student26', 21, 1.33), ('student30', 21, 1.3), ('student47', 21, 0.66), ('student2', 22, 0.15), ('student4', 22, 2.08), ('student10', 22, 2.56), ('student14', 22, 2.26), ('student18', 22, 2.77), ('student27', 22, 2.26), ('student40', 22, 3.42), ('student41', 22, 0.8), ('student1', 23, 2.56), ('student3', 23, 2.44), ('student8', 23, 3.92), ('student13', 23, 1.22), ('student23', 23, 3.52), ('student24', 23, 2.14), ('student32', 23, 1.3), ('student34', 23, 2.34), ('student9', 24, 2.44), ('student16', 24, 1.75), ('student22', 24, 0.04), ('student31', 24, 1.65), ('student38', 24, 3.31), ('student48', 24, 1.82), ('student49', 24, 3.06)]

In [119]:
#15.
import random

list_courses = ['FDA', 'DMA', 'Mining', 'Computation and Vis', 'Algorithm']

students_list = ["Student " + str(i) for i in range(15)]

course_dictionary = {}
random.shuffle (students_list)

students_per_subject= len(students_list) // len(list_courses) 
for course in list_courses:
    students_acc_subject = students_list[:students_per_subject]
    course_dictionary[course] = students_acc_subject
    students_list = students_list [students_per_subject:]

for i, student in enumerate(students_list): 
    course = list_courses[i % len(list_courses)] 
    course_dictionary[course].append(student)

print(course_dictionary)

{'FDA': ['Student 2', 'Student 12', 'Student 7'], 'DMA': ['Student 11', 'Student 14', 'Student 10'], 'Mining': ['Student 13', 'Student 3', 'Student 0'], 'Computation and Vis': ['Student 1', 'Student 6', 'Student 5'], 'Algorithm': ['Student 4', 'Student 8', 'Student 9']}

In [121]:
#16.
import random

Employee_names = ["Employee"+str(i) for i in range(1,7)]
department = ["Engineering", "Sales", "HR","Marketing", "Operation", "Housing"] 
employees = {}

for employee in Employee_names:
              age = random.randint (18,60)
              dept = random.choice (department) 
              salary = random.randint (30000, 110000) 
              employee_tuple = (age, salary, dept)
              employees.update({employee: employee_tuple}) 
print (employees)

{'Employee1': (18, 56458, 'HR'), 'Employee2': (37, 103477, 'Housing'), 'Employee3': (59, 102979, 'Housing'), 'Employee4': (18, 42050, 'Operation'), 'Employee5': (51, 90092, 'Marketing'), 'Employee6': (31, 46387, 'Operation')}

In [104]:
#17.
sum_salary = 0
sum_employee = 0

for employe_info in employees.values():
    age, salary, dept = employe_info
    sum_salary = sum_salary + salary
    sum_employee = sum_employee + 1

average_salary = sum_salary/sum_employee
print(employees)
print(average_salary)

{'Employee1': (55, 32772, 'Finance'), 'Employee2': (37, 97196, 'HR'), 'Employee3': (23, 84407, 'Finance'), 'Employee4': (33, 102271, 'HR'), 'Employee5': (32, 86558, 'Operation'), 'Employee6': (44, 49594, 'Marketing')}
75466.33333333333

In [99]:
#18.
import random
dates = ["May " + str(i) for i in range(1, 30+1)]
stocks =  [round (random. uniform (100, 102), 2) for i in range(30)]
stock_prices = {}

for i in range(30):
    stock_prices.update({dates[i]: stocks[i]})

print(stock_prices)

{'May 1': 100.97, 'May 2': 101.32, 'May 3': 100.71, 'May 4': 101.19, 'May 5': 101.73, 'May 6': 100.94, 'May 7': 101.37, 'May 8': 101.06, 'May 9': 101.54, 'May 10': 101.34, 'May 11': 101.88, 'May 12': 101.33, 'May 13': 101.22, 'May 14': 101.33, 'May 15': 101.44, 'May 16': 100.76, 'May 17': 100.97, 'May 18': 101.67, 'May 19': 101.73, 'May 20': 100.85, 'May 21': 101.61, 'May 22': 101.29, 'May 23': 101.85, 'May 24': 100.66, 'May 25': 100.86, 'May 26': 101.56, 'May 27': 100.3, 'May 28': 101.72, 'May 29': 100.78, 'May 30': 101.36}

In [122]:
#19.
highest_salary = {}
for employee, employee_info in employees.items(): 
    age, salary, dept = employee_info 
    if salary >= 70000: 
        highest_salary.update({employee: salary})
print(employees)
print(average_salary)

{'Employee1': (18, 56458, 'HR'), 'Employee2': (37, 103477, 'Housing'), 'Employee3': (59, 102979, 'Housing'), 'Employee4': (18, 42050, 'Operation'), 'Employee5': (51, 90092, 'Marketing'), 'Employee6': (31, 46387, 'Operation')}
75466.33333333333

In [111]:
#20.
dict1 = {'student': 'Ankur', 'Height': '6.4', 'hobby': 'football'} 
dict2= {'employee': 'Suhaib', 'Age': '24', 'Hobby': 'reading'} 
merged_dict = {**dict1, **dict2} 
print (merged_dict)

{'student': 'Ankur', 'Height': '6.4', 'hobby': 'football', 'employee': 'Suhaib', 'Age': '24', 'Hobby': 'reading'}